extends layout

block content
  br
  h1 Dive Log Book Application for Suunto
  p.lead A web app to help you to visualize your dives.
  hr
  .row
    .col-sm-6
      h2 Information about Suunto
      p SUUNTO D-Series - Watch-Sized Dive Computers
      p
        a.btn.btn-default(href='http://www.suunto.com/en-US/Dive-Collections/Watch-sized-dive-computers/', role='button') View details »
    .col-sm-6
      h2 SUUNTO DM5
      p The redesigned Suunto DM5 allows you to download your dive logs for advanced analysis and upload detailed dive plans to your dive computer.  It supports the following dive computers: Suunto EON Steel, DX, D9tx, D6i, D4i, D9, D6, D4, HelO2, Cobra, Cobra2, Cobra3, Vyper, Vyper2, Vyper Air, Vyper Novo, Zoop, Zoop Novo, Vytec, Vytec DS.
      p
        a.btn.btn-default(href='http://www.suunto.com/en-US/Support/Suunto-DM5/', role='button') View details »
    .col-sm-6
      h2 Information
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
