extends ../layout_dives

block content
  style.
    #curve_chart {
      width: 600px;
      height: 400px;
    }
    #container input {
      color: #000;
    }

  .page-header
    h2 Dive Information

  .row
      .col-md-3.col-lg-2.sidebar-offcanvas
        ul.nav.nav-pills.nav-stacked.list

      .col-md-9.col-lg-10.main
        .row
          .col-lg-3.col-md-6
            .card.card-inverse.card-success
              .card-block.bg-success
                h6.text-uppercase
                  | Dive Time
                h1.display-dive-time
                  | 000
          .col-lg-3.col-md-6
            .card.card-inverse.card-danger
              .card-block.bg-danger
                h6.text-uppercase
                  | Max Depth
                h1.display-max-depth
                  | 000
          .col-lg-3.col-md-6
            .card.card-inverse.card-warning
              .card-block.bg-warning
                h6.text-uppercase
                  | Avg Depth
                h1.display-avg-depth
                  | 000
        br
        .row
          #curve_chart(style="display:none")
        br
        .row
          .panel.panel-default
            .panel-heading
              |Informations about the dive
            .panel-body
              p(id="container")
                span.club_id
                  | Club:
                span(id='club').club
                  |  ____
                br
                span.dive-site_id
                  | Dive Site:
                span(id='dive-site').dive-site
                  |  ____
                br
                span.display-latitude_id
                  | Latitude:
                span.display-latitude
                  |  ____
                br
                span.display-longitude_id
                  | Longitude:
                span.display-longitude
                  |  ____





        br
